*{
	margin: 0;
	padding: 0;
}
body{
	/*height: 100vh;
	width: 100vw;
	background-size: 100%;
	background-repeat: no-repeat;
	background: linear-gradient(#96783f ,#dbbb7f, #96783f);*/
	background-color: #dbbb7f;
}

h2{
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-size: 10em;
}

/*For board images*/
#board {
	margin-left: 3%;
}
.quest-icon {
	margin: 2%;
	border-radius: 100%;
	height: 15%;
	width: 15%;
	border: 2px solid #a88f41;
}
