
* {
  margin: 0;
  border: 0;
  font-family: "Helvetica", Arial, sans-serif;
}
#home-background, body {
  /*background-image: url("../images/background/medieval.jpeg");*/
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/background/medieval.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;

}

.one-device:hover, .two-device:hover {
  cursor: pointer;
  border-color: white;
  color:white;

}
.one-device {
  margin-left: 1.5%;
  margin-right: 2%;
}
.one-device, .two-device{
  color: #d6c693;
  border: 1px solid;
  border-color: #d6c693;
  width: 38%;
  padding: 4%;
  font-size: 150%;
  text-align: center;
  display: inline-block;
  font-family: 'MedievalSharp', cursive;
}
#middle-content p {
  font-family: 'MedievalSharp', cursive;
  font-size: 10em;
  color: #d6c693;
}
#middle-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
 *******
 GENERAL STYLING
 *******
 */

#content{
  background: white;
  margin: 12% 15%;


}
#content h2, #player{
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-size: 7em;
  padding-top: 2%;
}
#content input{
  font-size: 2em;
  border:2px solid black;
  width:50%;
  margin: 2% 25%;

}
.next-btn, #reveal-btn{
  font-size: 2em;
  text-align: center;
  cursor: pointer;
  width: 25%;
  margin: 0 auto;
  background-color: #d6c693;
}
.next-btn:hover, #reveal-btn:hover{
  background-color: #a88f41;
  color:white;
}
.question{
  font-size: 2em;
  text-align: center;
}

.special-character{
  display: inline-block;
  margin-left: 30%;
  margin-right: -10%;
}

#charImage{
  margin: 0 1% 2% 4%;
}
#charDesc{
  padding-bottom:10%;
  font-size: 2em;
  margin-bottom: 10%;
}

@media screen and (max-height: 560px){
  #content{
    margin-top: 25%;
    padding-bottom: 0;
  }
  #charImage, #charDesc{
    display: block;
  }
}